html, body {
    margin  : 0;
    padding : 0;
    height  : 100%;
    width   : 100%;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/*
#mapPage, #mapPage .ui-content, #mapContent {
    width: 100%;
    height: 100%;
}
*/

#mapPage {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;

}
@media only screen and (max-width: 600px) {
    html, body{
        height  : 117%;
    }
}

.layer-choice {
    height: 40px;
    padding-top: 20px;
    padding-left:10px;
    border-bottom: 2px solid #ddd;
}

.layer-choice span {
    margin-top:10px;
    font-size:16px;
    text-align:center;
    font-weight: bold;
    color: white;
}

.layer-on {
    background-color:#F6A904;
}


.in-setting span {
    margin-top:5px;
    font-weight: bold;
    color: white;
}


#settingsOverlay {
    position: fixed;
    top: 40px;
    bottom:40px;
    left: 0;
    //width: 50%;
    width: 0;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    z-index: 10000;
    //display: none;
}

.settings-group {
    #border-bottom: 3px solid white;
    margin:5px;
    border: 2px solid white;
    border-radius: 6px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    //display:none;
}

.main-setting {
    height:40px;
    padding-top:20px;
    padding-left:10px;
    border-bottom: 2px solid #ddd;
}

.main-setting span {
    margin-top:30px;
    font-weight: bold;
}

.setting-on {
   background-color:#13ADFE;
}



div#topBar { 
  position: fixed;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  z-index:1000;
  background-color: #232323;
  background-image: linear-gradient(#4f4f4f, #232323);
  webkit-box-shadow: 2px 0 3px rgba(0,0,0,.25);
  box-shadow: 2px 0 3px rgba(0,0,0,.25);
}

div#animPanel {
    position:relative;
    float:left;
    height:100%;
    width:45px;

}

div#timeGraph {
    position:relative;
    float:left;
    height: 100%;
}


div#timeBar {
  position: fixed;
  height: 70px;
  bottom: 0;
  left: 0px;
  right: 0;
  z-index:1000;
  background-color: #232323;
  background-image: linear-gradient(#4f4f4f, #232323);
  webkit-box-shadow: 2px 0 3px rgba(0,0,0,.25);
  box-shadow: 2px 0 3px rgba(0,0,0,.25);
}

form#search {
    float:left;
    //margin-right:20px;
}

.search { 
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

.search-input {
  position: relative;
  float: left;
  height: 20px;
  //width:90%;
  margin: 4px 0 4px 12px;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid #232323;
  webkit-box-shadow: 0 0 2px rgba(255,255,255,.25);
  box-shadow: 0 0 2px rgba(255,255,255,.25);
  display: none;
}

button#submit { 
  height: 30px;
  width: 30px;
  //margin-left: 8px;
  cursor: pointer;
  border-radius: 6px !important;
  padding-right:0px !important;
  margin-right: 0px !important;
  background: #DDD;
}

div#submit-icon { 
  margin: 2px 2px 0px 2px;
}

.sprites { 
  width: 16px;
  height: 16px;
  background: url('../img/sprites.png') no-repeat center center;
  opacity: 0.5;
}
.sprites:hover { opacity: 0.8; }
.sprites.search { background-position: -128px -32px; }


span.iconClear{
  position:absolute;
  float:left;
  right:10px;    
  top: 10px;
  margin: 0;
  padding: 0;
  display:none;
  cursor:pointer;
  font: bold 1em sans-serif;
  color:#38468F;  
}

span.iconClear:hover{
  color:#f52 !important;
}

#promo {
  position: relative;
  float: left;
  color:#fff;
  font-size: 22px;
  font-weight: bold;
}
#curLocBox {
  background: rgba(255,255,255,0.4);
  left: 10px;
  top: 88px;
  border-radius:4px;
  padding: 2px;

}

#curLoc {
    background: rgba(0,60,136,0.7) url('../img/define-location-white-24.png') no-repeat center center;
    border: none !important;
    position:absolute;
    right: 2px;
    bottom: 15px;
    width: 35px;
    height: 35px;
    z-index:10000;
    border-radius: 6px;
}
/*
div#numPointsDisplay {
    background: rgba(0,60,136,0.7) !important;
    border: none !important;
    position:absolute;
    z-index:10000;
    left:0px;
    bottom:0px;
    width: 60px;
    height: 30px;
    color:white;
}
*/

div#numPointsDisplay {
    position:relative;
    float:right;
    padding-top: 10px;
    padding-right: 5px;
}

#numPointsSpan {
    color: white;
    font-weight: bold;
}


button#settingsButton {
    background: rgba(0,60,136,0.7) url('../img/gear-24.png') no-repeat center center;
    border: none !important;
    position:absolute;
    left:0px;
    bottom: 40px;
    width: 30px;
    height: 60px;
    z-index:10000;
    border-radius: 0px 6px 6px 0px;
}

div#mapView {
  position: fixed;
  top: 40px;
  left:0px;
  right:0px;
  bottom:70px;
}

#map {
    width    : 100%;
    position : relative;
    height   : 100%;
}
.olControlAttribution {
    position      : absolute;
    font-size     : 10px;
    bottom        : 0 !important;
    right         : 0 !important;
    background    : rgba(0,0,0,0.1);
    font-family   : Arial;
    padding       : 2px 4px;
    border-radius : 5px 0 0 0;
}
#title, #tags, #shortdesc {
    display: none;
}

.click-popup {
  font-size: 13px !important;
}
.click-header {
  padding: 0 0 3px 0;
}

.click-content {
  margin: 0;
  padding:0;
  color: #555;
}

.click-content > a { 
  color: #0084b4;
}
.popup-profile {
  float: left;
  font-weight: bold !important;
  font-size: 16px;
  color: #222;
}

.popup-time {
  color: #777;
  margin-left: 50%;
  white-space:nowrap;
  overflow:hidden;
}

div#layerButtons {
    float:right;
    margin-top:8px;
}

.layer-button {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
}

.pointButtonOffImg {
    border: none !important;
    background: #252525 url('../img/points_24.png') no-repeat center center;
}

.heatButtonOffImg {
    border: none !important;
    background: #252525 url('../img/heat_16.png') no-repeat center center;
}

.pointButtonOnImg {
    border: none !important;
    background: #eee url('../img/points_24.png') no-repeat center center;
}

.heatButtonOnImg {
    border: none !important;
    background: #eee url('../img/heat_16.png') no-repeat center center;
}


.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke-width: 1px;
}

.axis path {
  display: none;
}

.x.axis line {
  stroke: #777;
}

.y.axis text {
    font-size: 12px;
    fill: #ccc;
}

.x.axis text {
    font-size: 12px;
    fill: #ccc;
}


.axis line {
  stroke: #aaa;
}

path.line {
  fill: none;
  stroke-width: 1.5px;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.brush {
  stroke: #ec008c;
  stroke-width: 2px;
  stroke-linecap="round";
  //stroke-width: 1px 3px 1px 3px;
  fill: #faafdb;
  fill-opacity: .15;
  shape-rendering: crispEdges;
}

.anim-input {
    webkit-box-shadow: 0 0 2px rgba(50,50,50,.25);
    box-shadow: 0 0 2px rgba(100,100,100,.25);
    position:relative;
    border: none !important;
    margin: 8px 8px 3px 10px;
    border-radius: 3px;
    background-size: cover;
    cursor: pointer;
}

.settings-section {
    display: none;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 20px;
}
    

.settings-header {
    height:40px;
    font-size:18px;
    font-weight:bold;
    color: white;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    //display:none;
}

.play-icon {
    border: none !important;
    background: url('../img/play-green-20px.png') no-repeat center center;
    width:40px;
    height:20px;
}

.pause-icon {
    border: none !important;
    background: url('../img/pause-blue-20px.png') no-repeat center center;
    width:40px;
    height:20px;
}
    
.stop-icon {
    border: none !important;
    background: url('../img/stop-pink-20px.png') no-repeat center center;
    width:40px;
    height:20px;
}






