html, body {
    margin  : 0;
    padding : 0;
    height  : 100%;
    width   : 100%;
}
@media only screen and (max-width: 600px) {
    html, body {
        height  : 117%;
    }
}

div#topBar { 
  position: fixed;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  z-index:1000;
  background-color: #232323;
  background-image: linear-gradient(#4f4f4f, #232323);
  webkit-box-shadow: 2px 0 3px rgba(0,0,0,.25);
  box-shadow: 2px 0 3px rgba(0,0,0,.25);
}

div#bottomBar {
  position: fixed;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:1000;
  background-color: #232323;
  background-image: linear-gradient(#4f4f4f, #232323);
  webkit-box-shadow: 2px 0 3px rgba(0,0,0,.25);
  box-shadow: 2px 0 3px rgba(0,0,0,.25);
}

.search { 
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

.search-input {
  position: relative;
  float: left;
  height: 20px;
  //width:90%;
  margin: 4px 0 4px 12px;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid #232323;
  webkit-box-shadow: 0 0 2px rgba(255,255,255,.25);
  box-shadow: 0 0 2px rgba(255,255,255,.25);
  display: none;
}

button#submit { 
  height: 30px;
  width: 30px;
  //margin-left: 8px;
  cursor: pointer;
  border-radius: 6px !important;
  padding-right:0px !important;
  margin-right: 0px !important;
  background: #DDD;
}

div#submit-icon { 
  margin: 2px 2px 0px 2px;
}

.sprites { 
  width: 16px;
  height: 16px;
  background: url('../img/sprites.png') no-repeat center center;
  opacity: 0.5;
}
.sprites:hover { opacity: 0.8; }
.sprites.search { background-position: -128px -32px; }


span.iconClear{
  position:absolute;
  float:left;
  right:10px;    
  top: 10px;
  margin: 0;
  padding: 0;
  display:none;
  cursor:pointer;
  font: bold 1em sans-serif;
  color:#38468F;  
}

span.iconClear:hover{
  color:#f52 !important;
}

#promo {
  position: relative;
  float: left;
  color:#fff;
  font-size: 22px;
  font-weight: bold;
}
#curLocBox {
  background: rgba(255,255,255,0.4);
  left: 10px;
  top: 88px;
  border-radius:4px;
  padding: 2px;

}

#curLoc {
    background: rgba(0,60,136,0.7) url('../img/define-location-white-24.png') no-repeat center center;
    border: none !important;
    position:absolute;
    right: 2px;
    bottom: 15px;
    width: 35px;
    height: 35px;
    z-index:10000;
    border-radius: 6px;
}

div#mapView {
  position: fixed;
  top: 40px;
  left:0px;
  right:0px;
  bottom:40px;
}


#map {
    width    : 100%;
    position : relative;
    height   : 100%;
}
.olControlAttribution {
    position      : absolute;
    font-size     : 10px;
    bottom        : 0 !important;
    right         : 0 !important;
    background    : rgba(0,0,0,0.1);
    font-family   : Arial;
    padding       : 2px 4px;
    border-radius : 5px 0 0 0;
}
#title, #tags, #shortdesc {
    display: none;
}

.click-popup {
  font-size: 13px !important;
}
.click-header {
  padding: 0 0 3px 0;
}

.click-content {
  margin: 0;
  padding:0;
  color: #555;
}

.click-content > a { 
  color: #0084b4;
}
.popup-profile {
  float: left;
  font-weight: bold !important;
  font-size: 16px;
  color: #222;
}

.popup-time {
  color: #777;
  margin-left: 50%;
  white-space:nowrap;
  overflow:hidden;
}

div#layerButtons {
    float:right;
    margin-top:8px;
}

.layer-button {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
}

.pointButtonOffImg {
    border: none !important;
    background: #252525 url('../img/points_24.png') no-repeat center center;
}

.heatButtonOffImg {
    border: none !important;
    background: #252525 url('../img/heat_16.png') no-repeat center center;
}

.pointButtonOnImg {
    border: none !important;
    background: #eee url('../img/points_24.png') no-repeat center center;
}

.heatButtonOnImg {
    border: none !important;
    background: #eee url('../img/heat_16.png') no-repeat center center;
}








